body

{
    margin: 0;
    padding: 0;

}

.menu{    
    display: flex;
    justify-content: space-between;
    padding: 10px;

    background-color: green;
    color: white;
}

.menu a{
    color: white;
    font-size: 20px;

}

.conteudo{
    width: 700px;
    border: 1px solid green;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 5px 5px 10px green;
    padding: 10px;
}

.conteudo input[type=text]
{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 20px;
}

.conteudo input[type=submit]
{
    padding: 10px;
    width: 150px;
    background-color: green;
    color: white;
    font-size: 20px;
    border: none;
}

table, td, th
{
    border: 1px black;
    border-collapse: collapse;
    padding: 5px;
}

th
{
    background-color: darkgreen;
    color: white;
}

table
{
    width: 100%;
}